Repository JonathanFerrucho/MonoRepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-app-1-job, run-build-app-2-job, run-build-app-3-job

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            services/app1/.* run-build-app-1-job true
            services/app2/.* run-build-app-2-job true
            services/app3/.* run-build-app-3-job true
          # base-revision: master
          config-path: .circleci/continue_config.yml

Update App1.py
  services/app1/App1.py
Due: run-build-app-1-job

Update config.yml
  .circleci/config.yml
Due: none

Update continue_config.yml
  .circleci/continue_config.yml
Due: none

Update App2.py
  services/app2/App2.py
Due: run-build-app-2-job

test multiple cambio
  services/app1/App1.py
  services/app2/App2.py
Due: run-build-app-1-job, run-build-app-2-job

Create config.yml
  services/app1/.circleci/config.yml
Due: run-build-app-1-job

Rename config.yml to config_app1.yml
  services/app1/.circleci/config_app1.yml
Due: run-build-app-1-job

Update config_app1.yml
  services/app1/.circleci/config_app1.yml
Due: run-build-app-1-job

Create angle.py
  services/app1/angle.py
Due: run-build-app-1-job

Create test_angle.py
  services/app1/tests/test_angle.py
Due: run-build-app-1-job

Create setup.cfg
  services/app1/setup.cfg
Due: run-build-app-1-job
